#nav-bar {
    display: flex;
    justify-content: space-evenly;
}

#header {
    position: fixed;
    width: 100%;
    background-color: white;
}

#header-img {
    z-index: 1;
    display: flex;
    align-content: center;
}

@media screen and (max-width: 798px) {

    main {
        width: 100%;
    }
}
